In [0]:
%pylab inline

In [2]:
import dataiku
from dataiku import pandasutils as pdu
import pandas as pd

In [3]:
# Example: load a DSS dataset as a Pandas dataframe
cust_inf_final = dataiku.Dataset("customer_information_final")
df = cust_inf_final.get_dataframe()

In [7]:
list(df.columns)

[u'id',
 u'Status',
 u'new_status',
 u'Date_Of_Birth',
 u'Monthly_Income',
 u'State',
 u'Interest_Rate',
 u'FICO_Range',
 u'Default']

In [11]:
for col in df.columns:
    print(df[col][0])

81174
accepted
1
1997-04-03
6541.67
SC
8.9
735-739
0.0

In [12]:
df.head()

      id    Status  new_status Date_Of_Birth  Monthly_Income State  Interest_Rate FICO_Range  Default
0  81174  accepted           1    1997-04-03         6541.67    SC           8.90    735-739      0.0
1  99592  accepted           1    1983-07-03         4583.33    TX          12.12    715-719      0.0
2  80059  accepted           1    1990-10-08        11500.00    CA          21.98    690-694      0.0
3  15825  accepted           1    1993-25-06         3833.33    KS           9.99    695-699      0.0
4  33182  accepted           1    1986-02-02         3195.00    NJ          11.71    695-699      0.0

In [ ]:
df['id']

In [ ]:
()

In [16]:
(df['id'] == 0).all()

False